<form action="" accept-charset="UTF-8" method="post">
    {{ actionInput('database-translations/translations/create') }}
    {{ csrfInput() }}
    <input type="text" class="text" name="message" placeholder="New message...">
    <div class="select">
        <select class="select" name="category">
            {% for category in craft.databaseTranslations.categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn submit">Add</button>
</form>