<button type="button" class="btn menubtn" aria-label="Copy">Copy to</button>
<div class="menu">
    <ul>
        {% for site in craft.app.sites.allSites %}
            {% if site.handle != craft.app.request.getParam('site') %}
                <li>
                    <a class="formsubmit" data-param="targetSiteHandle" data-value="{{ site.handle }}">
                        {{ site.name }} ({{ site.locale }})
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
