{% extends "_layouts/cp" %}

{% set title = 'Create Translations' %}
{% set selectedSubnavItem = 'create' %}

{% import "_includes/forms" as forms %}

{% block content %}
    <div class="main">
        <h2>Create manually</h2>
        {% include 'database-translations/_partials/create-form' %}

        <hr>

        <h2>Parse templates</h2>
        <p>Look for usage of |t in template files</p>
        <a href="{{ url('database-translations/parse/review') }}" class="btn secondary">Review</a>

        <hr>

        <h2>Import</h2>
        <p>Import CSV file</p>
        <form method="post" enctype="multipart/form-data">
            {{ csrfInput() }}
            {{ actionInput('database-translations/import/upload') }}

            <div style="margin-bottom: 20px;">
                <input type="file" name="upload" accept="text/csv">
            </div>

            <button type="submit" class="btn secondary">Upload and review fields</button>
        </form>

        <hr>

        <h2>Import</h2>
        <p>Import PHP files from translations-folder</p>
        <a href="{{ url('database-translations/import/review') }}" class="btn secondary">Review</a>
    </div>
{% endblock %}
