{% extends "_layouts/cp" %}

{% from 'database-translations/_includes/macros.twig' import registerJsModules %}

{% do view.registerAssetBundle("digitalpulsebe\\database_translations\\assetbundles\\CraftDatabaseTranslationsAsset") %}
{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@digitalpulsebe/database_translations/assetbundles/database_translations/dist', true) %}

{% block foot %}
    {{ parent() }}
    {% set jsModules = [
        'app.js'
    ] %}
    {{ registerJsModules(jsModules) }}
{% endblock %}

{% set title = 'Translations' %}

{% set crumbs = [
    { label: 'Database Translations', url: url('database-translations') },
    { label: 'Translations', url: url('database-translations') }
] %}

{% set locales = craft.app.i18n.siteLocales|map(locale => locale.id) %}
{% set filters = craft.app.request.get('filters') %}
{% set sourceMessageQuery = craft.databaseTranslations.sourceMessages(filters).limit(10) %}

{% paginate sourceMessageQuery as pageInfo, sourceMessages %}

{% block actionButton %}
    {# <button type="submit" class="btn submit" form="translations-table">Save All</button> #}
{% endblock %}

{% block toolbar %}
    <filters></filters>
{% endblock %}

{% block content %}
    <dashboard></dashboard>
{% endblock %}

{% block footer %}
    <actions></actions>
    {# <div id="count-container" class="light flex-grow">
        {% include '_includes/pagination' %}
    </div>
    <button type="button" id="export-btn" class="btn">Export</button>
    <button type="submit" class="btn submit" form="translations-table">Save All</button> #}
{% endblock %}