{% extends "_layouts/cp" %}

{% from 'database-translations/_includes/macros.twig' import registerJsModules %}

{% do view.registerAssetBundle("digitalpulsebe\\database_translations\\assets\\DatabaseTranslatesBundle") %}

{% set title = 'Translations' %}

{% set crumbs = [
    { label: 'Database Translations', url: url('database-translations') },
    { label: 'Translations', url: url('database-translations') }
] %}

{% set sourceMessageCount = craft.databaseTranslations.sourceMessages({}).count() %}

{% block actionButton %}
    {# <button type="submit" class="btn submit" form="translations-table">Save All</button> #}
{% endblock %}

{% block toolbar %}
    {% if sourceMessageCount %}
        <filters></filters>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="main">
        {% if sourceMessageCount %}
            <dashboard></dashboard>
        {% else %}
            <h2>Hi!</h2>
            <p>Your database is empty</p>
            <p>Start with <a href="{{ url('database-translations/create') }}">an import</a> or enable event to listen to missing translations in <a href="{{ url('database-translations/settings') }}">the settings</a>.</p>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% if sourceMessageCount %}
        <actions></actions>
    {% endif %}
{% endblock %}